body {
	/* Light blue/light-blue-100 */
	background: #F3F5FC;
}

header {
	width: 100%;
	height: 60px;

}

/* .logo{
	width: 40px;
	height: 40px;
} */

main{
	width: 100%;
	height: 80%;
	display: flex;
	justify-content: space-between;
}

/* section{
	width: 40%;
	height: 100%;
} */
.inputMensaje{
	
	width: 40%;
	height: 70%;
}



.textAreaInput{
	background: #F3F5FC;
	border: none;
	width: 100%; 
	font-size: 20px;
} 




.bt {
	box-sizing: border-box;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	padding: 24px;
	gap: 8px;

	height: 67px;
	background: #D8DFE8;

	border: 1px solid #0A3871;
	border-radius: 24px;	
	flex: none;
	order: 1;
	flex-grow: 0;
}

.showMensaje{
	
	width: 25%;
	height: 70%; 
	background: white;
	border-color: black;
    border-width: 2px;
    border-style: solid;
    border-radius: 10px;
}

.munieca{
	
	width: 100%;
	height: 60%;
}

.texto-munieca{
	width: 100%;
	height: 10%;
}

.textAreaOut{
	background: #F3F5FC;
	border: 1px;
	width: 100%; 
	font-size: 20px;
}

.resultado{
	width: 100%;
	height: 70%;
	padding: 20px 20px;
	box-sizing: border-box;
}

.copiar{
	
	width: 100%;
	height: 30%;
}
.btn-copiar{
	
	width: 50%;
	height: 70%;
}

footer{
	width: 100%;
	height: 50px;
}

footer p{
	width: 100%;
	text-align: center;
	font-style: italic;
	margin: 30px 0 ;	
}

.ocultar{
	display: none;
}